@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap');
body,html{
  height: 100%;
  background: #ffffff url("./images/paper-bg.jpeg") no-repeat right top;
}
h3{
  margin:0;
  margin-top: 5px;
}
p{
  margin: 0
}
#app{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#header{
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  font-family: 'Just Another Hand', cursive;
  height: 15%;
}
#header img{
  width: 350px;
}
#main{
  text-align: center
}
#main button{
  padding:0;
  padding-left: 2px;
  background-color: #F05634;
  border: 3px solid #333333;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: 0;
  font-size: 20px;
  font-family: 'Helvetica';
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#joke{
  font-family: 'Just Another Hand', cursive;
  padding: 20px;
  margin-right: 10%;
  margin-left: 10%;
  border: 2px solid #333333;
  font-size: 20px;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff00;
  position: relative;
  text-align: center;
}
#contact{
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}
#contact div{
  border: 1px solid #333333;
  padding: 5px;
  border-radius: 4px;
  margin:0;
}
#contact div a{
  color: black;
  text-decoration: none
}
#footer {
  height: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  font-size: 10px;
  background-color: rgba(155, 22, 22, 0);
  width: 100%;
}
#footer span{
  color:#00111a;
  font-weight: bolder;
}
#footer h3{
  padding: 0;
}
#footer h5{
  margin:5px;
}
#footer a{
  color: rgb(219, 41, 1);
}
#footer img{
  width:25px;
  padding: 0;
  margin: 0px 3px 0px 3px;
}


.roll-in-blurred-left{animation:roll-in-blurred-left .65s cubic-bezier(.23,1.000,.32,1.000) both}
@keyframes roll-in-blurred-left{0%{transform:translateX(-1000px) rotate(-720deg);filter:blur(50px);opacity:0}100%{transform:translateX(0) rotate(0deg);filter:blur(0);opacity:1}}

.swing-in-bottom-fwd{animation:swing-in-bottom-fwd 1s cubic-bezier(.175,.885,.32,1.275) both}
@keyframes swing-in-bottom-fwd{0%{transform:rotateX(100deg);transform-origin:bottom;opacity:0}100%{transform:rotateX(0);transform-origin:bottom;opacity:1}}